PORT=8080
MONGO_URI=mongodb://localhost:27017/tu_base_datos
PERSISTENCE=FS
JWT_SECRET=tuSuperSecretKeyParaFirmarJWTsTokens
SESSION_SECRET=tuSuperSecretKeyParaHashearExpressSessions
GITHUB_CLIENT_ID=tu_github_client_id_aca
GITHUB_CLIENT_SECRET=tu_github_client_secret_aca
NODE_ENV=development
